@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CyGrotesk';
  src: url('/assets/cy-grotesk-key-2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CyGrotesk';
  src: url('/assets/cy-grotesk-key.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CyGrotesk';
  src: url('/assets/cy-grotesk-grand-3.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CyGrotesk';
  src: url('/assets/cy-grotesk-grand-6.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@keyframes orbit {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes counter-orbit {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

/* Make CyGrotesk the default font */
body {
  font-family: 'CyGrotesk', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
